@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* { 
  box-sizing: border-box;
}

:root {
  height: 100vh;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  min-height: 100%;
}

main {
    flex-grow: 1;
    text-align: center;
    padding: 20px;
}

.new-products {
  display: flex;
  margin: auto;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 1120px;
  justify-content: space-evenly;
  width: 75%;
}

.new-products__title {
  flex: 0 0 100%;
}